// customize some Bootstrap variables
$primary: darken(#7b8abd, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: lightgrey;
}

.table {
    color: inherit;
}

h1 {
    text-align: center;
    margin: 40px;
}
